# EditorConfig is awesome
# http://EditorConfig.org
#
# This file is based on The Common EditorConfig Template project
# https://github.com/Lin-Buo-Ren/the-common-editorconfig-template
#
# Public Domain

# This is the top-most EditorConfig file
root = true

# Common settings
[*]
end_of_line = lf
indent_style = space
indent_size = 4
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown documents
[*.{md,mkd,mkdn,markdown}]
# Trailing whitespace means manual linebreaks
trim_trailing_whitespace = false

# YAML documents
[*.{yml,yaml}]
indent_size = 2

# Avoid git patch fail to apply due to stripped unmodified lines that contains only spaces
[/.git/**]
trim_trailing_whitespace = false

# Vagrant configuration file
[Vagrantfile]
indent_size = 2

# Makefiles for *Make
[{Makefile,*.mk}]
indent_style = tab
