# Git path attributes configuration file
#
# Defining attributes per path
#
# Reference:
#   - Git - gitattributes Documentation
#     https://git-scm.com/docs/gitattributes
#
# This file is based on The Commons Gitattributes Templates
# https://gitlab.com/brlin/the-commons-gitattributes-templates
#
# SPDX-License-Identifier: CC-BY-SA-4.0
# Copyright © 2020 林博仁(Buo-ren, Lin) <Buo.Ren.Lin@gmail.com>

# Exclude development assets from source archive
/.* export-ignore
/continuous-integration/ export-ignore
/distribution/ export-ignore

# Exclude development assets exclusive licenses
/LICENSES/WTFPL.* export-ignore
/LICENSES/CC-BY-SA-* export-ignore

# Include dep5 declaration file in release archive
/.reuse/ -export-ignore
