# Git submodule definition file
#
# Copyright 2021 林博仁(Buo-ren, Lin) <Buo.Ren.Lin@gmail.com>
# SPDX-License-Identifier: GPL-3.0-or-later

[submodule "branding"]
	path = branding
	url = https://github.com/WoeUSB/branding.git
